.loop.active {
    color: green;
}

#title {
    margin-bottom: 10px;
}

#desc {
    margin-bottom: 20px;
}

aside {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.time-tile {
    margin-bottom: 10px;
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    vertical-align: top;
    position: relative;
}

.time-tile button {
    border: 0;
    cursor: pointer;
}

.timer-title {
    margin: 0 0 5px 0;
    padding-right: 12px;
    font-weight: 500;
}

.hoverable:hover {
    color: blue;
    cursor: pointer;
}

.alarm-container {
    font-weight: 100;
    color: gray !important;
}

.beeps-number {
    color: gray !important;
}

.alarm-container .hh,
.alarm-container .mm,
.alarm-container .ss {
    cursor: alias;
}

.colon:after {
    content: ":";
}

.red {
    background-color: red;
}

.time-tile:not(.red) .replay-container {
    display: none;
}

.timer-controls {
    margin: 10px 0;
    text-align: center;
}

.tap-counter-wrapper {
    opacity: .7;
    text-align: center;
}

.tap-counter-wrapper .tap-counter-num {
    font-size: 1.15rem;
}

.tap-counter-num {
    margin-top: 5px;
}

.tap-counter-controls .icon {
    font-size: 1ch;
    cursor: pointer;
}

.tap-counter-wrapper .icon:not(:first-child) {
    margin-left: 1ch;
}

.tap-counter-wrapper .icon:hover {
    color: red;
}

button {
    background-color: transparent;
}

a.fa-question {
    text-decoration: none !important;
}

.hide {
    display: none;
}

.spacer-v {
    width: 1px;
    height: 10px;
}

hr {
    border-width: 1px 0 0 0;
    width: 75%;
    margin: 5px auto;
    opacity: .25;
}

.fa-times {
    opacity: 1;
}

.fa-times:hover {
    color: red;
    opacity: .8;
}

.fa-bell {
    font-size: 1.75ch;
    vertical-align: top;
}

#create-new {
    font-size: 1.17rem;
}

.remove-timer {
    position: absolute;
    top: 5px;
    right: 0;
}

.announce {
    width: 50px;
}

.section-header {
    text-align: center;
    font-weight: 550;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.subsection-header {
    text-align: center;
    font-weight: 550;
    font-size: 1.15rem;
}