
::marker {
    color: transparent;

}
.loop-timer.active {
    color: green;
}

.repeat-beep.active {
    color: red;
}

.fa-eye.active {
    color: green;
}

.fa-pause {
    color: red;
}

.fa-edit {
    color: gray;
    font-weight: 450;
    opacity: 0.7;
}

#title {
    margin-bottom: 10px;
}

#desc {
    margin-bottom: 20px;
}

aside {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.time-tile {
    margin-bottom: 10px;
    border: 2px solid gray;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    vertical-align: top;
    position: relative;
}

.time-tile button {
    border: 0;
    cursor: pointer;
}

.timer-title {
    margin: 0 0 5px 0;
    padding-right: 12px;
    font-weight: 500;
}

.hoverable:hover {
    color: green !important;
    cursor: pointer;
}

.alarm-container {
    font-weight: 100;
    color: gray !important;
}

.alarm-times {
    color: gray !important;
}

.alarm-container .hh,
.alarm-container .mm,
.alarm-container .ss {
    cursor: alias;
}

.colon:after {
    content: ":";
}

.due[data-color="red"] {
    background-color: rgba(255, 0, 0, .7);
}
.due[data-color="green"] {
    background-color: rgba(0, 255, 0, .3);
}
.due[data-color="blue"] {
    background-color: rgba(0, 100, 255, .3);
}

.time-tile:not(.due) .replay-container {
    display: none;
}

.timer {
    margin: 0 5px 5px 0;
}

.timer-controls {
    margin: 10px 0;
    text-align: center;
}

.tap-counter-section {
    opacity: .7;
    text-align: center;
}

.tap-counter-section .tap-counter-num {
    font-size: 1.15rem;
}

.tap-counter-meaningful {
    margin: 10px 0 7px 0;
}

.tap-counter-label {
    margin-top: 3px;
}

.tap-counter-controls .icon {
    font-size: 1ch;
    cursor: pointer;
}

.tap-goal {
    font-weight: 200;
}

.tap-goal:not(:empty)::before {
    content: "/";
}

.tap-counter-label {
    font-size: .9rem
}

.tap-counter-section .icon:not(:first-child) {
    margin-left: 1ch;
}

.tap-counter-section .icon:hover {
    color: red;
}

button {
    background-color: transparent;
}

a.fa-question {
    text-decoration: none !important;
}

.hide {
    display: none;
}

.spacer-v {
    width: 1px;
    height: 10px;
}

hr {
    border-width: 1px 0 0 0;
    width: 95%;
    margin: 5px auto;
    opacity: .25;
}

.fa-times {
    opacity: 1;
}

.fa-times:hover {
    color: red;
    opacity: .8;
}

.fa-bell {
    font-size: 1.75ch;
    vertical-align: top;
}

#create-new {
    font-size: 1.17rem;
}

.remove-timer {
    position: absolute;
    top: 5px;
    right: 0;
}

.announce {
    width: 50px;
    font-size: .75rem;
}

.section-header {
    text-align: center;
    font-weight: 550;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.subsection-header {
    text-align: center;
    font-weight: 550;
    font-size: 1.15rem;
}